<div>
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= flat.name %> </h5>
        <p class="card-text"> <%= flat.description.truncate(20) %> </p>
        <div class="icons">
          <p><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
          <p><i class="fas fa-pound-sign"></i> <%= flat.price_per_night %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
